<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <div class="container">
            <img src="http://fbt-asia.com/images/fbt-logo.jpg" alt="LOGO" width="544" height="130">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Signup</h3>
                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                
                                    <label class="text-info">Password</label>
                                    <p class="control has-icons-left">
                                      <input class="input" type="password" name="password" >
                                      <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                      </span>
                                    </p>
                              
                            </div>
                            <div class="form-group">
                                
                                <input type="submit" name="Log In" class="btn btn-info btn-md" value="Sign Up">
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                              {% if messages %}
                                {% for category, message in messages %}
                                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    <span>{{ message }}</span>
                              
                                  </div>
                                {% endfor %}
                              {% endif %}
                            {% endwith %}                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
body {
  margin: 0;
  padding: 0;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 200vh;
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top:121px 


}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 370px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}    
</style>